﻿<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <title>Proveedores</title>
    <link href="MainCss.css" rel="stylesheet" type="text/css" 
    		th:href="@{/MainCss.css}"/>
</head>
<body>    
    <h1 class="Header">HELADERIA GENERICA</h1>
        
    <!--Header-->
    <div style="background:rgb(217 217 217);" class="SubHeaderButtons">
    	<div style="float: left">    	    
		    <a href="menu.html"  th:href="@{/Home/LogIn/Menu}">Menu</a>
	    </div>
		
		<h2 class="LabelOfTypeOfModule">PROVEEDORES</h2>
			    
	    <div style="float:right">
		    <a href="menu.html" th:href="@{/Home/LogIn/Menu}">Perfil De Usuario</a>
	    </div>
    </div>
    
    <h4 class="InstructionOfForm">Some sample text</h4>

    <form action="OptionCRUD" th:action="@{OptionCRUD/{actionCRUD}(actionCRUD=${operationCrud})}" 
    		th:object="${supplier}" method="post" style="margin-left:3%; margin-right: 3%">
        <fieldset class="Form">
            <legend class="InstructionOfForm" style="width:15%; font-weight:700" 
            th:text="'Datos de' + ' ' + ${typeOfObjectEs}"></legend>
            <label>
                NIT:
                <input style="width: 10%"
                       type="text" name="nitProveedor" th:field="*{nitProveedor}" autofocus="autofocus"/>
            </label>

            <label>
                Nombre Proveedor:
                <input style="width: 30%"
                       type="text" name="ciudadProveedor" th:field="*{ciudadProveedor}"/>
            </label>

            <label>
                Direccion:
                <input style="width: 25%"
                       type="email" name="direccionProveedor" th:field="*{direccionProveedor}"/>
            </label>

            <label>
                Ciudad:
                <input style="width: 15%; margin-top: 3%"
                       type="text" name="nombreProveedor" th:field="*{nombreProveedor}"/>
            </label>

            <label>
                Telefono:
                <input style="width: 15%; margin-top: 1%"
                       type="password" name="nombreProveedor" th:field="*{telefonoProveedor}"/>
            </label>
        </fieldset>
       	<div class="MenuButtons">        	
     			<input class="CrudButtons" style="width: 15%" type="submit" name="dataToCrud" value="Guardar"/>
   		</div>       		
    </form>
</body>
